.account-sub-menu
  
  //- Teams
  .teams
    .team(href="")
      img.profile(src="https://secure.gravatar.com/avatar/#{gravatarHash}?d=retro&r=pg&size=36")
      .name= user.username
    each team in teams
      a.team(href="#{team.path}")
        img.profile(src="https://secure.gravatar.com/avatar/#{gravatarHash}?d=retro&r=pg&size=36")
        .name= team.name
        .letter(style="background-color:#{team.color}")= team.name.charAt(0)
  
  //- Admin
  .account-admin
    .top
      .image-box
        img.profile(src="https://secure.gravatar.com/avatar/#{gravatarHash}?d=retro&r=pg&size=36")
      .actions
        a(href="#{user.adminPath}") Admin
        a(href="#{user.logoutPath}") Logout
    a.new-team(href="#{newTeamPath}") Create a new team
